html {
  color: #060b35;
  font-family: Roboto, sans-serif;
}

p {
  margin: 0;
}

.product-card {
  box-sizing: border-box;
  border: 1px solid #fff;
  flex-direction: column;
  width: 200px;
  padding-inline: 16px;
  display: inline-block;
}

.product-card__imac-image {
  align-self: center;
  width: 160px;
  height: 134px;
  margin-top: 32px;
  margin-bottom: 36px;
  margin-left: 3px;
}

.product-card__product-description {
  color: #060b35;
  margin: 0 0 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.product-card__product-code {
  color: #616070;
  align-self: start;
  margin-bottom: 16px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.product-card__feadback {
  justify-content: space-between;
  align-items: end;
  margin-bottom: 24px;
  display: flex;
}

.product-card__reviews-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.product-card__price {
  justify-content: space-between;
  margin-bottom: 16px;
  display: flex;
}

.product-card__price-text {
  color: #616070;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.product-card__price-amount {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.product-card__button-buy {
  text-transform: uppercase;
  color: #fff;
  background-color: #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: flex;
}

.product-card__button-buy:hover {
  box-sizing: border-box;
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}

.product-card__button-buy:hover .product-card__button-buy-text {
  color: #00acdc;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars--0 .stars__star:nth-child(-n), .stars--1 .stars__star:nth-child(-n+1), .stars--2 .stars__star:nth-child(-n+2), .stars--3 .stars__star:nth-child(-n+3), .stars--4 .stars__star:nth-child(-n+4), .stars--5 .stars__star:nth-child(-n+5) {
  background-image: url("star-active.2be54011.svg");
}

.stars .stars__star--last-star {
  margin-right: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted;
}

[type="button"]:-moz-focusring {
  outline: 1px dotted;
}

[type="reset"]:-moz-focusring {
  outline: 1px dotted;
}

[type="submit"]:-moz-focusring {
  outline: 1px dotted;
}

fieldset {
  padding: .35em .75em .63em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  white-space: normal;
  max-width: 100%;
  padding: 0;
  display: table;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

/*# sourceMappingURL=index.867122b9.css.map */
